@page "/admin-schedule"
@using Common.View
@using Syncfusion.Blazor.Calendars
@using BlazorApp.Client.Services
@inject DailyScheduleService DailyScheduleService 

 @rendermode InteractiveServer

<h1 class="title">Daily Schedule</h1>

<div class="calendar-container">

    <SfCalendar TValue="DateTime?" @bind-Value="@SelectedDate">
        <CalendarEvents TValue="DateTime?" ValueChange="OnChange"></CalendarEvents>
    </SfCalendar>
    <div class="events-container" id="display-date">
        <span>Selected Day : @SelectedValue</span>
        <h3>Daily schedule on @SelectedValue</h3>
        @* <input type="text" @bind="newDailySchedule" placeholder="Enter the schedule" />
        <button @onclick="AddDailySchedule">Add Schedule</button> *@

        <textarea type="text" @bind="newDailySchedule" class="form-control" rows="5" cols="50"></textarea>
        <br />

        <h3>Special Events</h3>
        <textarea type="text" @bind="specialEvents" class="form-control" rows="5" cols="50"></textarea>
        <br />
        <button @onclick="AddDailySchedule" class="btn btn-primary">Submit</button>

        <p>You entered:</p>
        @if (!string.IsNullOrEmpty(displayedText))
        {
            <pre>@displayedText</pre>
        }

        <p>You entered:</p>
        @if (!string.IsNullOrEmpty(displayedTextSpecial))
        {
            <pre>@displayedTextSpecial</pre>
        }
    </div>
</div>


@code {
    public DateTime? SelectedDate { get; set; } = DateTime.Now;
    public string SelectedValue { get; set; } = DateTime.Now.ToString("M/d/yyyy");
    //public DateTime? CurrentDate { get; set; } = DateTime.Now;
    // public int CurrentMonth = 0;
    // public int CurrentDay = 0;
    // public int CurrentYear = 0;

    private string inputText = string.Empty;
    private string displayedText = string.Empty;
    private string inputTextSpecial = string.Empty;
    private string displayedTextSpecial = string.Empty;
    private long dailyScheduleIdCurrentlyBeingEdited;


    private Common.View.ListDailySchedule listDailySchedule;
    private Common.View.DailyScheduleView dailySchedule;
    //private Common.View.
    private string newDailySchedule;
    private string specialEvents;

    /*private async Task GetRoleById()
    {
    roleInfo = string.Empty;
    listRoles = await RoleService.GetRole(roleId);

    foreach (var role in listRoles.roles)
        {
        roleInfo += @"<br/><br/><b>Role Description</b>: " + role.Description + "<br/><br/><br/>";
    }
    }*/


    private async Task AddDailySchedule()
    {
        dailyScheduleIdCurrentlyBeingEdited = 0;
        //Need to get date from syncfusion date control
        // CurrentMonth = (short)SelectedDate.Value.Month;
        // CurrentDay = (short)SelectedDate.Value.Day;
        // CurrentYear = (short)SelectedDate.Value.Year;

        DailyScheduleView dailyScheduleInfo = new DailyScheduleView();
        dailyScheduleInfo.Month = (short)SelectedDate.Value.Month;
        dailyScheduleInfo.Day = (short)SelectedDate.Value.Day;
        dailyScheduleInfo.Year = (short)SelectedDate.Value.Year;
        dailyScheduleInfo.Description = newDailySchedule;
        if(specialEvents != null)
        {
            dailyScheduleInfo.Desc_special = specialEvents;
        }
        var response = await DailyScheduleService.InsertDailySchedule(dailyScheduleInfo);




        if(response.Success)
        {
            //listDailySchedule = await DailyScheduleService.GetDailySchedule();
            newDailySchedule = string.Empty;
            specialEvents = string.Empty;
            displayedText = inputText;
            //dailyScheduleIdCurrentlyBeingEdited = Convert.ToInt64(response.Data);
        }
    }
    
    private void AddSpeicalEventsDescription()
    {
        displayedTextSpecial = inputTextSpecial;
    }

    private async Task OnChange(ChangedEventArgs<DateTime?> args)
    {
        var Count = 0;
        var dailyScheduleInfo = string.Empty;
        //CurrentMonth = SelectedDate.Value.Month;
        //CurrentDay = SelectedDate.Value.Day;
        //CurrentYear = SelectedDate.Value.Year;

        if (args.Value.Value.Month == SelectedDate.Value.Month && args.Value.Value.Day == SelectedDate.Value.Day && args.Value.Value.Year == SelectedDate.Value.Year)
        {
            this.SelectedValue = this.SelectedDate?.ToString("M/d/yyyy") + " (Personal appointment)";
            //listDailySchedule = await DailyScheduleService.GetDailySchedule(dailyScheduleId);
            Count++;
        }
        if (Count == 0)
        {
            this.SelectedValue = this.SelectedDate?.ToString("M/d/yyyy");
        }
    }
}