@page "/admin-contact/"

<div class="header">
    <h1>Inquiries</h1>
    <br>
</div>

<div class="info">
    <!------
    Will be filled with binded form data...
------>
    <h3>Name: @Name</h3>
    <h4>Phone Number: @Phone</h4>
    <h4>Email: @Email</h4>
    <h4>Reason:</h4>
    <p>@Reason</p>
</div>
<div class="info">
    <!------
    Will be filled with binded form data...
------>
    <h3>Name: Sam</h3>
    <h4>Phone Number: (xxx-xxx-xxxx)</h4>
    <h4>Email:</h4>
    <h4>Reason:</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet officia optio sunt consectetur itaque error
        esse
        hic eius nemo, temporibus labore alias voluptatum veniam consequatur voluptate maiores ullam? Nisi, </p>
</div>
<div class="info">
    <!------
    Will be filled with binded from data...
------>
    <h3>Name: Jane</h3>
    <h4>Phone Number: (xxx-xxx-xxxx)</h4>
    <h4>Email:</h4>
    <h4>Reason:</h4>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet officia optio sunt consectetur itaque error
        esse
        hic eius nemo, temporibus labore alias voluptatum veniam consequatur voluptate maiores ullam? Nisi, </p>
</div>

@code
{
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public string Email { get; set; }
    [Parameter]
    public string Phone { get; set; }
    [Parameter]
    public string Reason { get; set; }

}

<style>
    .info {
        border-style: solid;
        align-self: auto;
        display: block;
        width: 45%;
        padding: 10px;
        margin: 10px;

    }
</style>
<!------

the @model directive is not working for some reason,
preventing modelbinding from working.
-------->

<!------<h2>Inquiries Page</h2>

<p>Thank you for submitting your details.</p>
<p><strong>Name:</strong> @ViewData["Message"]</p>
------>
