@page "/database-test"
@using Common.View
@inject CustomerInfoService CustomerInfoService

<h3>Users</h3>

@if (users == null)
{
    <p>Loading data...</p>
}
else if (users.Count == 0)
{
    <p>No users found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>User First Name</th>
                <th>User Last Name</th>
                <th>Address</th>
                <th>City</th>
                <th>ZIP</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in users)
            {
                <tr>
                    <td>@item.userFirstName</td>
                    <td>@item.userLastName</td>
                    <td>@item.userAddress</td>
                    <td>@item.userCity</td>
                    <td>@item.userZipCode</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<UserView> users;

    protected override async Task OnInitializedAsync()
    {
        users = await CustomerInfoService.GetAllUsersAsync();
    }
}
